.buttons {
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-top: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 3px;
  margin-top: 10px;
}
