.container-card {
  border-radius: 15px;
  box-shadow: 0 15px 25px -4px rgb(117, 115, 115);
  color: #614343;
  cursor: pointer;
  margin: 30px 60px 100px;
  text-align: center;
}

.image-card {
  border-radius: 8px;
  margin: 20px;
  width: 180px;
}

.title-ingidients {
  color: #ab444b;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 15px 0 8px;
}
