#root {
  min-height: 640px;
}

#inProgress {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: #E7E6E6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inProgress section {
  background-color: #FFFFFF;
  width: 84%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 3%;
  box-shadow: 0 0 10px 2px #B7B7B8;
}

#inProgress button {
  background-color: transparent;
  border: none;
}

#inProgress section ul {
  list-style-type: none;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#header-inProgress {
  max-width: 70%;
  box-shadow: 0 0 10px 2px #B7B7B8;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px
}

#header-inProgress h2 {
  margin: 20px;
}

#header-inProgress img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
}

#header-inProgress section {
  display: flex;
  border-radius: 50px;
  padding: 10px 2px;
  box-shadow:0 0 15px 8px #cbcbcb ;
  width: 70%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#header-inProgress section button {
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 20px;
  padding: 4px;
  transition: .4s all ease-in-out;
}

#instructionsInProgress {
  display: block;
  margin: 0 30px;
  text-align: center;
}

#category-inProgress {
  margin-top: 20px;
  font-weight: 900;
  font-size: 1.1rem;
}

#finalizeContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

#finalizeContainer button {
  margin: 20px;
  padding: 10px 40px;
  background-color: transparent;
  border-radius: 15px;
  color: #ffffff;
  background-color: #F59600;
  font-weight: 900;
  font-size: 1.1rem;
  transition: .4s all ease-in-out;
}

#finalizeContainer button:enabled {
  opacity: 1;
}

#finalizeContainer button:disabled {
  opacity: 0.6;
}
