footer {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-top: auto;
  position: fixed;
  width: 100%;
}

.footer-container {
  align-items: center;
  background-color: #f47500;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  text-align: center;
}

.footer-container input {
  margin: 5px;
  width: 30px;
}
