.drink-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Inter , sans-serif;
  justify-content: center;
  margin-bottom: 150px;
  position: relative;
  top: 80px;
}
