.carousel-card-content {
  align-items: center;
  background-color: var(--crl-Tertiary);
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(11, 44, 102, 0.12);
  display: flex;
  height: 13rem;
  justify-content: center;
  margin: 0.3rem;
  width: 9rem;
}

.carousel-img-content {
  position: relative;
}

.group-26 svg {
  height: 6.63rem;
  width: 6.75rem;
}

.img-wrap {
  filter: drop-shadow(0 24px 24px rgba(181, 56, 51, 0.7));
  left: 30px;
  position: absolute;
  top: 50px;
}

.carousel-card-img {
  clip-path: circle(50%);
  height: 5rem;
  width: 5rem;
}

.carousel-title {
  color: var(--crl-Main-Text);
  font-size: var(--font-size-p2);
  font-weight: 700;
  margin-bottom: 0.6rem;
  text-align: center;
  text-decoration: none;
}

.carousel-subtitle {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-s);
  font-weight: 700;
  text-align: center;
}
