.food-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Inter , sans-serif;
  justify-content: center;
  margin-bottom: 150px;
  position: relative;
  top: 80px;
}

.cards-content {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
  width: 100vw;
}
