:root {

  /* COLOR STYLES */

  --crl-Primary: #1fcc79;

  --crl-Secondary: #ff6464;

  --crl-Tertiary: #fec0a0;

  --crl-Main-Text: #3e5481;

  --crl-Secondary-Text: #9fa5c0;

  --crl-Outline: #d0dbea;

  --crl-form: #f4f5f7;

  --crl-White: white;

  /* FONT STYLES */

  --font-size-h1: 1.37rem;

  --font-size-h2: 1.06rem;

  --font-size-h3: 0.93rem;

  --font-size-p1: 1.06rem;

  --font-size-p2: 0.93rem;

  --font-size-s: 0.75rem;

}

.recipe-details {
  height: 22.5rem;
  position: relative;
  width: 360px;
}

.recipe-img {
  height: 22.5rem;
  width: 22.5rem;
}

.goBack {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  color: var(--crl-White);
  font-size: 1.5rem;
  height: 3.5rem;
  left: 24px;
  outline: none;
  position: absolute;
  top: 24px;
  width: 3.5rem;
}

.recipe-header-content {
  align-items: flex-end;
  background-color: var(--crl-White);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  bottom: 0;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: absolute;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -0.5rem;
}

.recipe-title {
  color: var(--crl-Main-Text);
  font-size: var(--font-size-h2);
  font-weight: 700;
}

.recipe-category {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-p2);
  font-weight: 500;
}
