.page-details {
  align-items: center;
  color: var(--crl-Main-Text);
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.details-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
  width: 20.43rem;
}

.details-content:before {
  background-color: var(--crl-Outline);
  content: '';
  display: block;
  height: 0.06rem;
  margin-bottom: 1.3rem;
  width: 20.43rem;
}

.details-title {
  font-size: var(--font-size-h2);
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.details-intructions {
  font-size: var(--font-size-p2);
  text-align: justify;
}

.details-intructions:after {
  background-color: var(--crl-Outline);
  content: '';
  display: block;
  height: 0.06rem;
  margin: 1.3rem 0;
  width: 20.43rem;
}

.video {
  height: 160px;
  margin-bottom: 1.3rem;
  width: 325px;
}

.details-video:after {
  background-color: var(--crl-Outline);
  content: '';
  display: block;
  height: 0.06rem;
  margin: 1.3rem 0;
  width: 20.43rem;
}

.details-Recommended {
  width: 20.43rem;
}

.slider {
  width: 20.43rem;
}

.details-btn-content {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 2.3rem;
  padding: 0.56rem;
  position: fixed;
  width: 20.43rem;
}

.details-btn-startRecipe {
  background-color: var(--crl-Primary);
  border: none;
  border-radius: 32px;
  bottom: 0;
  color: var(--crl-White);
  font-size: var(--font-size-p1);
  font-weight: 700;
  height: 3.5rem;
  margin-bottom: 2rem;
  outline: none;
  position: fixed;
  transition: background-color 500ms ease-in-out;
  transition-delay: 500ms;
  width: 16.43rem;
}

.invisible {
  display: none;
}
