.recipe-details {
  display: flex;
  height: 22.5rem;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.recipe-img {
  height: 22.5rem;
  width: 100vw;
}

.goBack {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  color: #146354;
  font-size: 1.5rem;
  height: 2.5rem;
  left: 24px;
  outline: none;
  position: absolute;
  top: 24px;
  width: 2.5rem;
}

.goHome {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  color: #146354;
  font-size: 1.5rem;
  height: 2.5rem;
  outline: none;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 2.5rem;
}

.recipe-header-content {
  align-items: center;
  background-color: var(--crl-White);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  bottom: 0;
  display: flex;
  height: 5rem;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20.43rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -0.5rem;
}

.recipe-title {
  color: var(--crl-Main-Text);
  font-size: var(--font-size-h2);
  font-weight: 700;
}

.recipe-category {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-p2);
  font-weight: 500;
}
