.done-recipes-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Inter , sans-serif;
  justify-content: center;
  margin-top: 80px;
}

.list-btn {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}

.filter-btn {
  background-color: var(--crl-Primary);
  border: none;
  border-radius: 25px;
  color: var(--crl-White);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 2.2rem;
  margin: 0.3rem;
  outline: none;
  width: 5rem;
}

.done-card {
  align-items: center;
  background-color: var(--crl-White);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 10rem;
  margin-top: 1.2rem;
  overflow: hidden;
  width: 20rem;
}

.done-card-img {
  border-radius: 8px;
  height: 10rem;
  width: 10rem;
}

.done-card-subtitle {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-s);
}

a:hover {
  text-decoration: none;
}

.done-card-title {
  color: var(--crl-Main-Text);
  font-size: var(--font-size-p2);
  font-weight: 700;
}

.done-btn-share {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid var(--crl-Outline);
  border-radius: 50%;
  height: 2rem;
  left: 10px;
  outline: none;
  position: absolute;
  top: 10px;
  width: 2rem;
}

.done-date {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-s);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.tag-content {
  display: flex;
  flex-wrap: wrap;
}

.done-tag {
  align-items: center;
  color: var(--crl-Main-Text);
  display: flex;
  font-size: var(--font-size-p2);
  font-weight: 500;
  margin-bottom: -16px;
}
