.ex-area-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.select {
  background-color: var(--crl-White);
  border: 1px solid var(--crl-Outline);
  border-radius: 4px;
  color: var(--crl-Main-Text);
  font-size: var(--font-size-p2);
  height: 2rem;
  padding: 0.5rem 1rem;
  width: 15rem;
}

.ex-area-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 1rem;
}
