.footer {
  align-items: center;
  background-color: var(--crl-White);
  bottom: 0;
  box-shadow: 8px -3px 12px 0 rgba(11, 44, 102, 0.12);
  display: flex;
  height: 4.37rem;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
}

.footer a {
  text-decoration: none;
}

.footer-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 4.3rem;
  justify-content: space-around;
}

.footer-icon {
  filter: invert(67%) sepia(9%) saturate(649%)
    hue-rotate(192deg) brightness(96%) contrast(94%);
  width: 2rem;
}

.footer-icon:focus {
  filter: invert(63%) sepia(80%) saturate(430%)
    hue-rotate(97deg) brightness(88%) contrast(93%);
}

.explorer-icon {
  filter: invert(100%) sepia(0%) saturate(1%)
    hue-rotate(269deg) brightness(104%) contrast(101%);
}

.footer-span {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-s);
  font-weight: 600;
  text-decoration: none;
}

.footer-span-explorer {
  bottom: -20px;
  position: relative;
}

.btn-explorer {
  align-items: center;
  background-color: var(--crl-Primary);
  border-radius: 50%;
  bottom: 30px;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: absolute;
  width: 3rem;
}

.btn-explorer img {
  width: 2rem;
}
