.ingredients-content:after {
  background-color: var(--crl-Outline);
  content: '';
  display: block;
  height: 0.06rem;
  margin: 1.3rem 0;
  width: 20.43rem;
}

.ingredients-row {
  align-items: center;
  color: var(--crl-Main-Text);
  display: flex;
  font-size: var(--font-size-p2);
  font-weight: 500;
  justify-content: flex-start;
}

.ingredients-measures {
  margin: 0 0.5rem;
}

/* código retirado do link https://codepen.io/avstorm/pen/vYYBxRM?editors=1100 */
.ingredients-check {
  left: 30px;
  position: absolute;
}

.checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.checkbox span {
  display: inline-block;
  transform: translate3d(0, 0, 0);
  vertical-align: middle;
}

.checkbox span:first-child {
  border: 1px solid var(--crl-Outline);
  border-radius: 50%;
  height: 1.5rem;
  position: relative;
  transform: scale(1);
  transition: all 0.2s ease;
  vertical-align: middle;
  width: 1.5rem;
}

.checkbox span:first-child svg {
  fill: none;
  left: 6px;
  position: absolute;
  stroke: var(--crl-Primary);
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  top: 8px;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  z-index: 1;
}

.checkbox span:first-child:before {
  background: var(--crl-Primary);
  border-radius: 50%;
  content: '';
  display: block;
  height: 100%;
  opacity: 1;
  transform: scale(0);
  transition-delay: 0.2s;
  width: 100%;
}

.checkbox span:last-child {
  margin-left: 8px;
}

.checkbox span:last-child:after {
  background: var(--crl-form);
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 8px;
  transform: scaleX(0);
  transform-origin: 0 0;
  width: 100%;
}

.ingredients-check:checked + .checkbox span:first-child {
  animation: check 0.6s ease;
  background: #e3fff8;
  border-color: var(--crl-Primary);
}

.ingredients-check:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

.ingredients-check:checked + .checkbox span:first-child:before {
  opacity: 0;
  transform: scale(2.2);
  transition: all 0.6s ease;
}

.ingredients-check:checked + .checkbox span:last-child {
  color: var(--crl-form);
  transition: all 0.3s ease;
}

.ingredients-check:checked + .checkbox span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check {

  50% {
    transform: scale(1.2);
  }
}
