.form-main {
  align-items: center;
  background-color: var(--crl-White);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.logo-container {
  margin: 2rem;
}

.logo {
  color: var(--crl-Secondary);
  font-family: Damion , cursive;
  font-size: 4.5em;
  font-weight: 700;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Inter , sans-serif;
}

.form-login h1 {
  color: var(--crl-Main-Text);
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: 2rem;
}

.form-subtitle {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-p2);
  font-weight: 500;
  line-height: 1.56rem;
  margin: 0.5rem;
}

.sec-email-password {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  position: relative;
}

.icon {
  color: var(--crl-Main-Text);
  font-size: 1.5rem;
  left: 24px;
  position: absolute;
}

.login-input {
  border: 1px solid var(--crl-Outline);
  border-radius: 25px;
  color: var(--crl-Main-Text);
  font-size: var(--font-size-p2);
  font-weight: 500;
  height: 3.5rem;
  outline: none;
  padding: 0.5rem 0 0.5rem 3.5rem;
  width: 20.43rem;
}

.login-input:focus {
  border: 2px solid var(--crl-Primary);
}

.login-input::placeholder {
  color: var(--crl-Secondary-Text);
}

.form-validate {
  margin: 1.5rem 0;
}

.validate-title {
  color: #3e5481;
  font-weight: 500;
  line-height: 27px;
}

.form-validate div {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0.2rem 0;
}

.check-false {
  color: var(--crl-Main-Text);
  font-size: var(--font-size-p2);
  font-weight: 500;
  line-height: 25px;
}

.check-true {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-p2);
  font-weight: 500;
  line-height: 25px;
}

.error-check {
  color: var(--crl-Secondary-Text);
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

.error-checked {
  color: var(--crl-Primary);
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

.form-btn-enable {
  background-color: var(--crl-Primary);
  border: none;
  border-radius: 25px;
  color: var(--crl-White);
  font-size: var(--font-size-p2);
  font-weight: 700;
  height: 3.5rem;
  margin-top: 0.5rem;
  outline: none;
  transition: background-color 500ms ease-in-out;
  transition-delay: 500ms;
  width: 20.43rem;
}

.form-btn-disable {
  background-color: #e3fff8;
  border: none;
  border-radius: 25px;
  color: var(--crl-White);
  font-size: var(--font-size-p2);
  font-weight: 700;
  height: 3.5rem;
  margin-top: 0.5rem;
  outline: none;
  width: 20.43rem;
}
