:root {

  /* COLOR STYLES */

  --crl-Primary: #1fcc79;

  --crl-Secondary: #ff6464;

  --crl-Tertiary: #fec0a0;

  --crl-Main-Text: #3e5481;

  --crl-Secondary-Text: #9fa5c0;

  --crl-Outline: #d0dbea;

  --crl-form: #f4f5f7;

  --crl-White: white;

  /* FONT STYLES */

  --font-size-h1: 1.37rem;

  --font-size-h2: 1.06rem;

  --font-size-h3: 0.93rem;

  --font-size-p1: 1.06rem;

  --font-size-p2: 0.93rem;

  --font-size-s: 0.75rem;

}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal-container {
  align-items: center;
  background-color: var(--crl-White);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 28.62rem;
  justify-content: center;
  width: 20.43rem;
}

.modal-img {
  height: 10rem;
  margin-bottom: 2rem;
  width: 10rem;
}

.modal-content {
  align-items: center;
  border: none;
  color: var(--crl-Main-Text);
  display: flex;
  font-size: var(--font-size-p2);
  font-weight: 500;
  justify-content: center;
  margin-bottom: 2rem;
}

.modal-btn {
  background-color: var(--crl-Primary);
  border: none;
  border-radius: 32px;
  color: var(--crl-White);
  font-size: var(--font-size-p2);
  font-weight: 700;
  height: 3.5rem;
  outline: none;
  width: 14.43rem;
}
