.favorite-recipes-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Inter , sans-serif;
  justify-content: center;
  margin-top: 80px;
}

.list-filter-btn {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}

.favorite-filters {
  background-color: var(--crl-Primary);
  border: none;
  border-radius: 25px;
  color: var(--crl-White);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 2.2rem;
  margin: 0.3rem;
  outline: none;
  width: 5rem;
}

.cards-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.favorite-card {
  align-items: center;
  background-color: var(--crl-Tertiary);
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(11, 44, 102, 0.12);
  display: flex;
  height: 15rem;
  justify-content: center;
  margin: 0.3rem;
  width: 10.1rem;
}

.image-content {
  position: relative;
}

.group-26 svg {
  height: 6.63rem;
  width: 6.75rem;
}

.img-shadow {
  filter: drop-shadow(0 24px 24px rgba(181, 56, 51, 0.7));
  left: 30px;
  position: absolute;
  top: 50px;
}

.favorite-card-img {
  clip-path: circle(50%);
  height: 5rem;
  width: 5rem;
}

.favorite-card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.favorite-card-subtitle {
  color: var(--crl-Secondary-Text);
  font-size: var(--font-size-s);
}

.favorite-card-title {
  color: var(--crl-Main-Text);
  font-size: var(--font-size-p2);
  font-weight: 700;
  margin-bottom: 0.6rem;
  text-align: center;
  text-decoration: none;
}

.favorite-buttons {
  display: flex;
  margin-top: 0.8rem;
}

.favorite-btn-share {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 2.25rem;
}

.favorite-btn-share img {
  filter: invert(32%)
    sepia(11%) saturate(2567%) hue-rotate(182deg) brightness(87%) contrast(82%);
  width: 1.12rem;
}

.favorite-btn {
  background-color: var(--crl-Primary);
  border: 1px solid hsl(151, 74%, 40%);
}

.favorite-btn img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(160deg)
    brightness(103%) contrast(101%) opacity(0.6);
  width: 1.12rem;
}
