.explorer-screen-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 200px;
}

.explorer-screen-btn {
  background-color: var(--crl-Primary);
  border: none;
  border-radius: 25px;
  color: var(--crl-White);
  font-size: var(--font-size-p2);
  font-weight: 700;
  height: 3.5rem;
  margin-top: 1rem;
  outline: none;
  width: 20.43rem;
}

.explorer-content {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.explorer-filter {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 90vw;
}

.btn-filters {
  background-color: var(--crl-Primary);
  border: none;
  border-radius: 25px;
  color: var(--crl-White);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 2.5rem;
  margin: 0.3rem;
  outline: none;
  width: 6rem;
}

@media only screen and ( min-width : 600px ) and ( orientation : landscape ) {

  .explorer-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  .explorer-screen-main {
    top: 0;
  }
}
